body
    form(action="http://localhost:9000/coach2" method='POST')
        input(type="checkbox" name="choice" value=coach1)
        br
        label Coach name #{coach1} 
        br
        label Timings of class #{time1}
        br
        label Days of class #{days1}
        br
        label Amount per month #{amount1}
        br
        br



        input(type="checkbox" name="choice" value=coach2)
        br
        label Coach name #{coach2} 
        br
        label Timings of class #{time2}
        br
        label Days of class #{days2}
        br
        label Amount per month #{amount2}
        br
        br

        input(type="submit" name="submit" value="Pay")
        
       
        
    
   

